@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,531;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,531;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
  margin: 0;
  padding: 0;
}
 section {
  padding: 70px 0px;
}


 
#primaryMenu {
  position: sticky;
  top: 0;
  box-shadow: 0 2px 2px rgba(0,0,0,0.1);
}

.container {
  width: 740px;
  padding-right: 0px;
  padding-left: 15px;
  margin: auto;
  }
.primaryWrapper {
  display: table;
  width: 100%;
}
.brandName {
  width: 80px;
  float: left;
  margin-top: 40px;
  color: #0e0e0e;
  font-weight: 300;
  font-size: 30px;
  background: ;
  
}


.brandName span {
  font-size: 55px;
  color: #ff5200;
  font-weight: 400;
}
.brandName a {
text-decoration: none;
color: #333;
}
.menu {
  width: 100%;
  float: left;
  background-color: #ffffff;
  
}
.mainMenuItems {
  float: right;
  overflow: hidden;
}
.mainMenuItems ul {
  list-style-type: none;
  
  
}
.mainMenuItems ul li {
  float: left;
  
}
.mainMenuItems ul li a {
  text-decoration: none;
  padding: 24px 12px;
  color: #0e0e0e;
  font-size: 20px;
  font-weight: 500;
  display: block;
  font-family: Roboto;
  letter-spacing: 1px;
  transition: 0.3s;
  
  }
.mainMenuItems ul li a:hover {
  color: #ff5220;
}
 
 
/* secTitle =====*/

.secTitle {
text-align: center;
margin-bottom: 40px;

}
.secTitle h2 {
font-size: 40px;
text-transform: uppercase;
}
.secTitle h2:after {
content: "";
display: block;
width: 80px;
border: 2px solid #ff5200;
margin-top: 15px;
margin-left: 42%;
}


/* secTitle end====*/

/*course Details  section start===*/
#courseDetails {
background: #f5f6f6;
margin-top: 80px;

}
.courseDetailsWrapper {
overflow: hidden;
}

.singleCourseDetails {
width: 340px;
margin-right: 30px;
float: left;
overflow: hidden;
margin-top: 30px;
}
.singleCourseDetails:fast-child {
margin-top: ;
}
.singleCourseDetails:last-child {
margin-right: 0;
}

.courseImg img {
width: 100%;
border-radius: 2px;
transition: 0.7s
}
.singleCourseDetails:hover .courseImg img {
transform: scale(1.1);
}
.courseTitle {
border: 1px solid #ddd;
margin-top: -5px;
}
.courseTitle h3 {
text-align: center;
font-size: 25px;
font-weight: 500;
margin-top: 15px;
margin-bottom: 10px;
}
.courseTitle p {
width: 300px;
margin: auto;
font-size: 20px;
line-height: 25px;
color: #777777;
margin-bottom: 10px;
}

.courseReadMoreBtn {
margin-bottom: 20px;

}
.courseReadMoreBtn a {
text-decoration: none;
color: #ff5200;
font-size: 18px;
margin-left: 200px;
transition: 0.6s;
}
.courseReadMoreBtn a:hover {
color: #000000;
cursor: pointer;}
/*course Details  section end===*/




/*our course teachers section start======*/
.teachers {
overflow: hidden;
}
.singleTeacher {
width: 340px;
float: left;
margin-right: 30px;
margin-bottom: 40px;
}
.singleTeacher:last-child{
margin-right: 0px;
}
.teacherImg {
overflow: hidden;
position: relative;
display: block;
}
.teacherImg img {
width: 100%;
transition: 0.7s;
}

.singleTeacher:hover .teacherImg img {
transform: scale(1.1);
}

.teacherInfo {
border: 1px solid #ddd;
margin-top: -4px;
}
.teacherInfo h2{
margin-top: 20px;
text-align: center;
font-size: 20px;
font-weight: 400;
color: #333;
}
.teacherInfo p {
margin-top: 8px;
font-size: 18px;
line-height: 30px;
color: #777777;
margin-bottom: 30px;
margin: auto;
width: 200px;
}



.teacherSocialIcons {
width: 120px;
position: absolute;
bottom: 40px;
text-align: center;
left: 50%;
transform: translateX(-50%);

}

.teacherSocialIcons a {
width: 10px;
height: 10px;
display: block;
background: red;
overflow: hidden;
float: left;
display: grid;
place-items: center;
text-decoration: none;
border-radius: 50%;
padding: 5px;
color: white;
margin: 4px;
transition: 0.3s;
}


.teacherSocialIcons a i {
font-size: 10px;
}
.teacherSocialIcons a:first-child {
background: #3b5998;
opacity: 0;
transition: 0.90s;
}
.teacherSocialIcons a:nth-child(2) {
background: #00acee;
opacity: 0;
transition: 0.70s;
}
.teacherSocialIcons a:nth-child(3) {
background: #db4a39;
opacity: 0;
transition: 0.50s;
}
.teacherSocialIcons a:last-child {
background: #0e76a8;
opacity: 0;
transition: 0.30s;
}

.teacherSocialIcons a:hover {
background: white;
color: #333;
}

.singleTeacher:hover .teacherSocialIcons a {
transform: translateY(15px);
opacity: 1;
}










/*our course teachers section start======*/





/*course price section start===*/
#pricingPlan {
margin-bottom: 250px;
}
.priceWrapper {
overflow: hidden:

}

.singlePrice {
width: 220px;
float: left;
margin-right: 20px;
border: 1px solid #ddd;
box-shadow: 0px 5px 4px rgba(0,0,0,0.1);
border-radius: 10px;
}
.singlePrice:last-child {
margin-right: 0;
}

.priceDetails h3 {
text-align: center;
font-weight: 500;
font-size: 20px;
margin-bottom: 5px;
font-family: Roboto;
margin-top: 15px;
}
.priceDetails h2 {
font-size: 35px;
font-weight: 700;
text-align: center;
margin-bottom: 10px;
font-family: Roboto;
}
.priceDetails h2 span {
font-size: 20px;
}
.priceDetails ul {
list-style-type: none;
width: 200px;
margin: auto;
}
.priceDetails ul li {
font-size: 16px;
line-height: 35px;
color: #777777;

}
.priceDetails ul li i {
color: #ff5200;
font-size: 13px;
margin-left: 3px;
}
.courseStartBtn a {
text-decoration: none;
}
.courseStartBtn button {
width: 150px;
color: #ffffff;
margin-bottom: 20px;
background: #ff5200;
margin: auto;
padding: 5px 8px;
border: none;
margin-bottom: 20px;
margin-top: 20px;
margin-left: 30px;
font-size: 18px;
font-weight: 400;
border-radius: 3px;
transition: 0.3s;
}
.courseStartBtn a button:hover {
color: #ffffff;
background-color: #333;
cursor: pointer;
}
/*course price section end===*/
 

 
 
 
 
 
 /* footer section start==== */


#mainfooter {
background-color: #000000;
}

.brandNameFooter {
  text-align: center;
  color: #0e0e0e;
  font-weight: 300;
  font-size: 30px;
  
  
}


.brandNameFooter span {
  font-size: 55px;
  color: #ff5200;
  font-weight: 400;
}
.brandNameFooter a {
text-decoration: none;
color: #ffffff;
cursor: pointer;
}
.brandNameFooter p {
font-size: 20px;
color: #ffffff;
margin-top: 20px;
}
.footerContent {
margin-top: 30px;
}
.footerContentWrapper {
overflow: hidden;
}
.fbox {
overflow: hidden;
width: 350px;
float: left;
margin-right: 15px;
}
.fbox:last-child {
margin-right: 0px;
}
.fboxDetails p {
font-size: 18px;
color: #999;
margin-top: 40px;
}
.fboxLinks h2{
color: #ffffff;
font-size: 20px;
font-weight: 200;
margin-bottom: 10px;
margin-top: 20px;
font-family: Arial,sans-serif;

}
.fboxLinks ul {
list-style-type: none;
}
.fboxLinks ul li {
padding: 5px 0px;
line-height: 20px;
}
.fboxLinks ul li a {
text-decoration: none;
display: block;
font-size: 18px;
color: #999;
border-bottom: 1px dashed #353535;
cursor: pointer;
}

.copyright {
overflow: hidden;
border-top: 1px solid #ff5200;
margin-top: 30px;
}
.copyrightbox {
width: 350px;
float: left;
margin-right: 30px;
margin-top: 20px;

}
.copyrightbox:last-child {
margin-right: 0px;
}
.copyrightMeta p {
color: #999;
font-size: 14px;
}

.fsocialLinks {
overflow: hidden;
text-align: center;
margin-top: 15px;
}
.fsocialLinks a {
text-decoration: none;
display: block;
width: 35px;
place-items: none;
margin-right: 6px;
padding: 5px;
float: left;
cursor: pointer:
}
.fsocialLinks a i {
color: #999;
}


ul.copyrightlinks {
list-style-type: none;
overflow: hidden;
}
ul.copyrightlinks li {
float: left;
padding: 12px 24px;
}
ul.copyrightlinks li a {
text-decoration: none;
color: #999;
cursor: pointer;
}



/* footer section end==== */



/* social menu section start*/
.aboutHeadline {
margin-bottom: 70px;
margin-top: 90px;
}
.aboutHeadline h1 {
text-transform: uppercase;
font-weight: 600;
letter-spacing: 3px;
font-family: Robota,sans-serif;
}
.aboutHeadline h1:after {
content: "";
display: block;
width: 60px;
background-color: #ff5200;
border: 2px solid #ff5200;
margin-top: 10px;
}

/* my skills start=====*/
.skills {
width: 600px;
}
.skillicon {
font-size: 25px;
color: red;
}
.skills ul li {
position: relative;
list-style: none;
margin: 50px 0;
font-weight: 500;
text-transform: uppercase;
}
.skills ul li:before {
content: "";
position: absolute;
top: calc(100% + 10px);
left: 0;
width: 100%;
height: 10px;
background-color: rgba(255,0,0,0.2);
border-radius: 100px;
}


.skills ul li:after {
content: "";
position: absolute;
top: calc(100% + 10px);
left: 0;
width: 0;
height: 10px;
background-color: rgba(255,0,0,1);
border-radius: 100px;
animation-duration: 0.6s;
animation-timing-function: ease;
animation-fill-mode: forwards;
}

.skills ul li.html:after {
animation-name: html;
}

@keyframes html {
    to {
    width: 90%;
    }
}

.skills ul li.css:after {
animation-name: css;
}

@keyframes css {
    to {
    width: 80%;
    }
}


.skills ul li.js:after {
  animation-name: js;
   }
   
@keyframes js {
    to {
    width: 60%;
}
}

.skillpercent {
margin-left: 220px;
color: rgb(255,0,0);
font-size: 20px;
font-weight: 500;
}
/* my skills end=====*/

#aboutSocialMenu {
background-color: ;
}
.socialMenuIcons ul {
position:absolute;
padding: 0;
margin: 0;
transform: translate(-50%, -50%);
display: flex;
margin-left: 150px;
}
.socialMenuIcons ul li {
margin: 4px;
padding: 5px;
list-style: none;

}
.socialMenuIcons ul li a {
position: relative;
display: block;
width: 60px;
height: 60px;
background-color: #ffffff;
border-radius: 50%;
text-align: center;
transition: 0.5s;
box-shadow: 0 5px 4px rgba(0,0,0,0.3);

}
.socialMenuIcons ul li i {
font-size: 30px;
line-height: 40px;
transition: 0.5s;
color: #000;
text-align: ;
margin-top: 7px;
}
.socialMenuIcons ul li i:hover {
color: #fff;
}
.socialMenuIcons ul li a:hover {
transform: translate(0, -10px);
}
.socialMenuIcons ul li:first-child a:hover {
background-color: #3b5998;
}
.socialMenuIcons ul li:nth-child(2) a:hover {
background-color: #55acee;
}
.socialMenuIcons ul li:nth-child(3) a:hover {
background-color: #e4405f;
}
.socialMenuIcons ul li:last-child a:hover {
background-color: #0077b5;
}
/* social menu section start*/


/* course form start*/

.brandname  {
    margin-top: 30px;
    text-align: center;
    
}
.brandname p {
color: #0e0e0e;
font-size: 30px;
}
.brandname p span {
    color: #ff5200;
    font-size: 55px;
    font-weight: 400;
    
    
}

#courseform {
margin-top: 40%;
}

.courseForm {
width: ;
margin: auto;
border: 1px solid #ddd;
box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
border-radius: 5px;
}
.courseForm h3 {
margin-bottom: 30px;
margin-top: 40px;
text-align: center;
color: #999;
}

.formDetails {
    width: 700px;
    margin-left: 40px;
    margin-bottom: 30px;
    color: #666;
    font-size: 18px;
}


.sineImg {
overflow: hidden;
width: 150px;
}
.sineImg img {
float: right;
margin-bottom: 10px;
width: 100%
}
.backLinks a {
padding: 0 4px;
font-size: 20px;
color: blue;
}
.backLinks a:hover {
color: red;
}
/* course form end*/

/* photo gallery section start====*/
photoGallery {
box-sizing: border-box;
}


.column {
overflow: hidden;
float: left;
width: 25%;
margin-right: 5px;
}
.column:last-child {
margin-right: 0;
}
.column img {
opacity: 0.5;
cursor: pointer;
}

.column img:hover {
opacity: 1;
}

.row:after {
content: "";
display: table;
clear: both;
}

.imgContainer {
position: relative;
display: none;
}
#imgtext {
position: absolute;
bottom: 15px;
color: white;
font-size: 20px;
}
.closebtn {
position: absolute;
top: 10px;
right: 15px;
color: red;
font-size: 35px;
cursor: pointer;
}


/* photo gallery section end====*/

.printbtn {
margin-top: 50px;
text-align: center;
}
.printbtn button {
font-size: 50px;
}
